@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1462764151_8661637.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1462764151_8661637.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1462764151_8661637.woff") format("woff"), url("//at.alicdn.com/t/font_1462764151_8661637.ttf") format("truetype"), url("//at.alicdn.com/t/font_1462764151_8661637.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.ulno {
  list-style: none;
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%; }

.he100 {
  height: 100%; }

.font14 {
  font-size: 14px !important; }

.font16 {
  font-size: 16px !important; }

.valali {
  vertical-align: -1px !important; }

.ano a {
  text-decoration: none; }
  .ano a:hover, .ano a:focus {
    text-decoration: none; }

.sanjiao:after {
  content: "1111";
  position: absolute;
  color: #fff;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

body {
  padding-top: 50px; }

.pano {
  padding: 0; }

.zd-nav {
  background: rgba(0, 0, 0, 0.9);
  z-index: 1300;
  text-align: center; }
  .zd-nav .navbar-brand img {
    max-width: 100%; }
  @media (max-width: 1200px) {
    .zd-nav .navbar-brand img {
      margin-top: 5px; } }
  .zd-nav .input-group-addon {
    border-left: none;
    background: #fff;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 6px 0; }
  .zd-nav .nav-searchBtn {
    border: none;
    background: none;
    outline: none; }
  .zd-nav .navbar-nav li.active {
    border-top: #e62344 solid 5px; }
    .zd-nav .navbar-nav li.active a {
      background: #4a4a4a;
      color: #fff;
      margin-bottom: -5px;
      padding: 10.4px 20px 17px; }
      .zd-nav .navbar-nav li.active a:hover {
        border: none;
        padding: 10.4px 20px 17px; }
  .zd-nav .navbar-nav li a {
    color: #fff; }
    .zd-nav .navbar-nav li a:hover, .zd-nav .navbar-nav li a:focus {
      color: #fff;
      border-top: #e62344 solid 5px;
      margin-bottom: -5px;
      padding-top: 10px; }
  .zd-nav .navbar-left {
    margin: 9px 7px;
    font-size: 0; }
    .zd-nav .navbar-left .search-sel {
      min-width: 100px;
      display: inline-block;
      cursor: pointer;
      background: #666666;
      border: none;
      border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      color: #fff;
      font-weight: 500;
      padding: 6px 13px 6px 13px;
      text-shadow: 0 0px 0 #fff;
      outline: none;
      vertical-align: middle; }
      .zd-nav .navbar-left .search-sel option {
        background: #fff;
        color: #666;
        padding: 20px 0;
        position: relative; }
      .zd-nav .navbar-left .search-sel i {
        margin-left: 0px;
        vertical-align: -1px;
        display: inline-block; }
    .zd-nav .navbar-left .inp-search {
      display: inline-block;
      width: 49%;
      vertical-align: middle;
      border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border: none; }
    .zd-nav .navbar-left .nav-searchBtn {
      width: 15%;
      background: #fff;
      border: none;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
  .zd-nav .right-tx {
    cursor: pointer;
    border-left: #4d4d4d solid 1px;
    height: 100%;
    padding: 10px 15px  10px 15px;
    position: relative; }
    .zd-nav .right-tx .down-menu {
      display: block;
      right: 0 !important;
      position: absolute;
      top: 100%;
      margin-top: -1px  !important;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      background-clip: padding-box; }
      .zd-nav .right-tx .down-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857;
        color: #333333;
        white-space: nowrap; }
    .zd-nav .right-tx:hover .down-menu {
      display: block; }
      .zd-nav .right-tx:hover .down-menu > li > a:hover, .zd-nav .right-tx:hover .down-menu > li > a:focus {
        background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);
        background-color: #e8e8e8; }
      .zd-nav .right-tx:hover .down-menu > .active > a:hover, .zd-nav .right-tx:hover .down-menu > .active > a:focus {
        color: #555;
        background-color: #e8e8e8; }
      .zd-nav .right-tx:hover .down-menu > .disabled > a, .zd-nav .right-tx:hover .down-menu > .disabled > a:hover, .zd-nav .right-tx:hover .down-menu > .disabled > a:focus {
        color: #555;
        background-color: #e8e8e8; }

/* 导航部分结束 */
@media (min-width: 1200px) {
  .zd-container {
    width: 100% !important; } }
@media (min-width: 992px) {
  .zd-container {
    width: 970px; } }
@media (min-width: 768px) {
  .zd-container {
    width: 750px; } }
.zd-container .row {
  margin: 0; }

.left-nav {
  float: left;
  background: #eeeeee;
  min-height: 500px;
  height: 100%;
  overflow: auto;
  margin-top: 50px;
  border-right: #d6d6d6 solid 1px; }
  .left-nav ul {
    padding-top: 29px; }
    .left-nav ul li {
      height: 50px;
      padding-left: 20%;
      line-height: 50px; }
      .left-nav ul li a {
        font-size: 14px;
        color: #666666;
        text-decoration: none; }
      .left-nav ul li i {
        font-size: 16px;
        font-weight: 0;
        color: #94979a;
        padding-right: 10px;
        display: inline-block;
        vertical-align: 1px; }
      .left-nav ul li.active {
        background: #fff;
        border-top: #d6d6d6 solid 1px;
        border-bottom: #d6d6d6 solid 1px; }
        .left-nav ul li.active a {
          color: #e62344;
          font-weight: 500; }
        .left-nav ul li.active i {
          font-size: 14px;
          font-weight: 0;
          color: #3a4047; }
      .left-nav ul li:hover {
        text-decoration: underline; }
    @media (max-width: 1200px) {
      .left-nav ul li {
        padding: 0 6px; } }

.purple .badge {
  background: #e62344; }

@media screen and (min-width: 956px) and (max-width: 1200px) {
  .cheng {
    padding-right: 250px; }

  .zd-nav .navbar-brand img {
    margin-top: 2px; }

  .left-nav .ulno li {
    padding-left: 10%; } }
.right-article {
  float: left;
  padding: 35px 0 0 70px; }
  .right-article .zd-h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px; }
  .right-article .zd-p {
    color: #666666;
    font-size: 12px; }
    .right-article .zd-p b {
      color: #000000; }
  .right-article .form-horizontal .form-group {
    margin-bottom: 20px; }
    .right-article .form-horizontal .form-group > label {
      color: #666666;
      font-size: 14px;
      font-weight: 500; }
    .right-article .form-horizontal .form-group input[type='file'] {
      display: none; }
    .right-article .form-horizontal .form-group button.file {
      color: #000000;
      font-size: 12px;
      background: #fff;
      background-image: #fff !important; }
      .right-article .form-horizontal .form-group button.file i {
        padding-right: 4px;
        color: #3a4047;
        vertical-align: 1px; }
  .right-article .form-horizontal span.tip {
    font-size: 12px;
    color: #aaaaaa;
    text-align: left; }
  .right-article .form-horizontal button[type='submit'] {
    background: #e62344;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .right-article .form-horizontal .uploads > img {
    max-width: 100%; }
  .right-article .form-horizontal .resetBtn {
    color: #4a90e2 !important;
    text-shadow: 0 0 0;
    font-size: 12px;
    box-shadow: none;
    border: none;
    background: none;
    text-align: left;
    outline: none; }

@media (max-width: 1200px) {
  .right-article {
    margin-left: 0;
    padding: 0; } }
.zd-checkbox input[type='checkbox'] {
  display: none; }
.zd-checkbox i {
  border: #cccccc solid 1px;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 1px 2px 1px 2px;
  margin-right: 3px;
  color: #fff; }

.check-a i {
  color: #666; }

/* 实名认证页面结束 */

/*# sourceMappingURL=style.css.map */
