@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1462779017_2118678.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1462779017_2118678.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1462779017_2118678.woff") format("woff"), url("//at.alicdn.com/t/font_1462779017_2118678.ttf") format("truetype"), url("//at.alicdn.com/t/font_1462779017_2118678.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.fleft {
  float: left; }

.fright {
  float: right; }

.ulno {
  list-style: none;
  margin: 0;
  padding: 0; }

body, html {
  width: 100%;
  height: 100%; }

.he100 {
  height: 100%; }

.font14 {
  font-size: 14px !important; }

.font16 {
  font-size: 16px !important; }

.valali {
  vertical-align: -1px !important; }

.ano a {
  text-decoration: none; }
  .ano a:hover, .ano a:focus {
    text-decoration: none; }

.sanjiao:after {
  content: "1111";
  position: absolute;
  color: #fff;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

body {
  padding-top: 50px; }

.pano {
  padding: 0; }

.zd-nav {
  background: rgba(0, 0, 0, 0.9);
  z-index: 1900;
  text-align: center;
  /* .zd-nav .navbar-nav li.active a */ }
  .zd-nav .navbar-brand {
    width: 100%;
    text-align: center; }
    .zd-nav .navbar-brand img {
      max-width: 100%;
      display: inline-block; }
  .zd-nav .input-group-addon {
    border-left: none;
    background: #fff;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 6px 0; }
  .zd-nav .nav-searchBtn {
    border: none;
    background: none;
    outline: none; }
  @media (max-width: 767px) {
    .zd-nav .navbar-nav {
      text-align: left;
      text-indent: 20px; }
      .zd-nav .navbar-nav li.active a {
        padding: 10.4px 17px 17px !important; }
        .zd-nav .navbar-nav li.active a:hover {
          border: none; }
      .zd-nav .navbar-nav a:hover, .zd-nav .navbar-nav a:focus {
        color: #555 !important;
        background-color: #e7e7e7 !important;
        border: none !important;
        margin: 0 !important; } }
  .zd-nav .navbar-nav li.active {
    border-top: #e62344 solid 5px; }
    .zd-nav .navbar-nav li.active a {
      background: #4a4a4a;
      color: #fff;
      margin-bottom: -5px;
      padding: 10.4px 18px 17px; }
      .zd-nav .navbar-nav li.active a:hover {
        border: none;
        padding: 10.4px 18px 17px; }
  .zd-nav .navbar-nav li a {
    color: #fff; }
    .zd-nav .navbar-nav li a:hover, .zd-nav .navbar-nav li a:focus {
      color: #fff;
      border-top: #e62344 solid 5px;
      margin-bottom: -5px;
      padding-top: 10px; }
  .zd-nav .navbar-left {
    margin: 9px 7px;
    font-size: 0; }
    .zd-nav .navbar-left .search-sel {
      min-width: 100px;
      display: inline-block;
      cursor: pointer;
      background: #666666;
      border: none;
      border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      color: #fff;
      font-weight: 500;
      padding: 6px 13px 6px 13px;
      text-shadow: 0 0px 0 #fff;
      outline: none;
      vertical-align: middle; }
      .zd-nav .navbar-left .search-sel option {
        background: #fff;
        color: #666;
        padding: 20px 0;
        position: relative; }
      .zd-nav .navbar-left .search-sel i {
        margin-left: 0px;
        vertical-align: -1px;
        display: inline-block; }
    .zd-nav .navbar-left .inp-search {
      display: inline-block;
      width: 49%;
      vertical-align: middle;
      border-radius: 0;
      -o-border-radius: 0;
      -ms-border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border: none; }
    .zd-nav .navbar-left .nav-searchBtn {
      width: 34px;
      background: #fff;
      border: none;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
  .zd-nav .right-tx {
    cursor: pointer;
    border-left: #4d4d4d solid 1px;
    height: 100%;
    padding: 10px 15px  10px 15px;
    position: relative; }
    .zd-nav .right-tx .down-menu {
      display: block;
      right: 0 !important;
      position: absolute;
      top: 100%;
      margin-top: -1px  !important;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      background-clip: padding-box; }
      .zd-nav .right-tx .down-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857;
        color: #333333;
        white-space: nowrap; }
    .zd-nav .right-tx:hover .down-menu {
      display: block; }
      .zd-nav .right-tx:hover .down-menu > li > a:hover, .zd-nav .right-tx:hover .down-menu > li > a:focus {
        background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);
        background-color: #e8e8e8; }
      .zd-nav .right-tx:hover .down-menu > .active > a:hover, .zd-nav .right-tx:hover .down-menu > .active > a:focus {
        color: #555;
        background-color: #e8e8e8; }
      .zd-nav .right-tx:hover .down-menu > .disabled > a, .zd-nav .right-tx:hover .down-menu > .disabled > a:hover, .zd-nav .right-tx:hover .down-menu > .disabled > a:focus {
        color: #555;
        background-color: #e8e8e8; }

/* 导航部分结束 */
@media (min-width: 1200px) {
  .zd-container {
    width: 100% !important; } }
@media (min-width: 992px) {
  .zd-container {
    width: 970px; } }
@media (min-width: 768px) {
  .zd-container {
    width: 750px; } }
.zd-container .row {
  margin: 0; }

.left-nav {
  float: left;
  background: #eeeeee;
  min-height: 500px;
  height: 100%;
  overflow: auto;
  margin-top: 50px;
  border-right: #d6d6d6 solid 1px; }
  .left-nav ul {
    padding-top: 29px; }
    .left-nav ul li {
      height: 50px;
      padding-left: 20%;
      line-height: 50px; }
      .left-nav ul li a {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        color: #666666;
        text-decoration: none; }
      .left-nav ul li i {
        font-size: 16px;
        font-weight: 0;
        color: #94979a;
        padding-right: 10px;
        display: inline-block;
        vertical-align: 1px; }
      .left-nav ul li.active {
        background: #fff;
        border-top: #d6d6d6 solid 1px;
        border-bottom: #d6d6d6 solid 1px; }
        .left-nav ul li.active a {
          color: #e62344;
          font-weight: 500; }
        .left-nav ul li.active i {
          font-size: 14px;
          font-weight: 0;
          color: #3a4047; }
      .left-nav ul li:hover {
        text-decoration: underline; }
    @media (max-width: 1200px) {
      .left-nav ul li {
        padding: 0 6px; } }

.purple .badge {
  background: #e62344; }

@media screen and (min-width: 956px) and (max-width: 1200px) {
  .cheng {
    padding-right: 250px; }

  .zd-nav .navbar-brand img {
    margin-top: 2px; } }
@media (max-width: 1200px) {
  .left-nav .ulno li {
    padding-left: 10%; } }
@media (max-width: 820px) {
  .left-nav .badge {
    display: none; } }
.right-article {
  float: left;
  padding: 35px 0 0 70px; }
  .right-article .zd-h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px; }
  .right-article .zd-p {
    color: #666666;
    font-size: 12px; }
    .right-article .zd-p b {
      color: #000000; }
  .right-article .form-horizontal .form-group {
    margin-bottom: 20px; }
    .right-article .form-horizontal .form-group > label {
      color: #666666;
      font-size: 14px;
      font-weight: 500;
      text-align: left; }
    .right-article .form-horizontal .form-group input[type='file'] {
      display: none; }
    .right-article .form-horizontal .form-group button.file {
      color: #000000;
      font-size: 12px;
      background: #fff;
      background-image: #fff !important; }
      .right-article .form-horizontal .form-group button.file i {
        padding-right: 4px;
        color: #3a4047;
        vertical-align: 1px; }
  .right-article .form-horizontal span.tip {
    font-size: 12px;
    color: #aaaaaa;
    text-align: left; }
  .right-article .form-horizontal button[type='submit'] {
    background: #e62344;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .right-article .form-horizontal .uploads .upload-btn {
    padding: 0; }
  .right-article .form-horizontal .uploads > img {
    max-width: 100%; }
  .right-article .form-horizontal .resetBtn {
    color: #4a90e2 !important;
    text-shadow: 0 0 0;
    font-size: 12px;
    box-shadow: none;
    border: none;
    background: none;
    text-align: left;
    outline: none; }

@media (max-width: 1200px) {
  .right-article {
    margin-left: 0;
    padding: 0;
    padding-left: 50px; } }
.zd-checkbox input[type='checkbox'] {
  display: none; }
.zd-checkbox i {
  border: #cccccc solid 1px;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 1px 2px 1px 2px;
  margin-right: 3px;
  color: #fff; }

.check-a i {
  color: #666; }

/* 实名认证页面结束 */
.user-info {
  padding-top: 50px;
  padding-bottom: 220px; }
  .user-info .userInfo-leftImg {
    text-align: center; }
    .user-info .userInfo-leftImg .borderRadius {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 4px;
      -o-border-radius: 4px;
      -ms-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px; }
      .user-info .userInfo-leftImg .borderRadius img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px; }
  @media (max-width: 1000px) {
    .user-info .userInfo-leftImg {
      text-align: left;
      margin-bottom: 30px; } }
  .user-info .userInfo-top h1 {
    color: #333333;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin-top: 0; }
    .user-info .userInfo-top h1 .label {
      padding-left: 0;
      vertical-align: 3px; }
  .user-info .userInfo-top .operation {
    text-align: left;
    margin-top: 15px; }
    .user-info .userInfo-top .operation a {
      background: #e62344;
      margin-top: 10px;
      margin-right: 10px;
      border: none;
      color: #fff;
      font-weight: 500;
      text-shadow: none; }
  @media (max-width: 1200px) {
    .user-info .userInfo-top .state {
      margin-top: 15px; } }
  .user-info .userInfo-top .state {
    text-align: center; }
    .user-info .userInfo-top .state li {
      width: 25%;
      float: left; }
      .user-info .userInfo-top .state li span {
        color: #666666;
        font-size: 30px;
        font-weight: 600; }
      .user-info .userInfo-top .state li p {
        margin-top: 5px;
        color: #b4b4b4;
        font-size: 12px; }
  .user-info .userInfo-top .userInfo-detailed {
    padding-top: 25px; }
    .user-info .userInfo-top .userInfo-detailed .dl-horizontal {
      border-bottom: #cccccc dashed 1px;
      padding-bottom: 8px;
      margin-bottom: 8px; }
      .user-info .userInfo-top .userInfo-detailed .dl-horizontal dt {
        text-align: left;
        width: auto;
        font-size: 14px;
        color: #999999;
        font-weight: 500;
        min-width: 100px;
        margin-top: 3px; }
      .user-info .userInfo-top .userInfo-detailed .dl-horizontal dd {
        text-align: left;
        width: auto;
        margin-left: 100px;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px; }
      .user-info .userInfo-top .userInfo-detailed .dl-horizontal .intro {
        font-weight: 400;
        color: #000000; }
  .user-info .zd-userInfo-table tr {
    text-align: center;
    border-bottom: 1px dashed #ddd; }
    .user-info .zd-userInfo-table tr th {
      color: #666666;
      font-size: 12px;
      font-weight: normal;
      text-align: center; }
    .user-info .zd-userInfo-table tr td {
      border: none;
      font-size: 14px;
      color: #000000; }
      .user-info .zd-userInfo-table tr td span {
        background: #5cb85c;
        text-align: center;
        line-height: 25px;
        display: inline-block;
        height: 25px;
        color: #fff;
        font-size: 12px;
        transform: scale(0.9);
        border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 0 15px; }
        .user-info .zd-userInfo-table tr td span i {
          margin-right: 3px;
          vertical-align: -2px; }
      .user-info .zd-userInfo-table tr td .rz i {
        margin-right: 3px;
        vertical-align: -2px;
        font-size: 12px;
        color: #fff; }
    .user-info .zd-userInfo-table tr .xgxx i {
      color: #f5a623; }
  .user-info h2 {
    color: #000000;
    font-size: 20px; }
  .user-info .zd-list .authorTip {
    display: none;
    position: absolute;
    z-index: 1500;
    top: 280px; }
    .user-info .zd-list .authorTip .authorTipCon {
      width: 100%;
      text-align: left;
      padding: 20px 13px;
      color: #fff;
      background: rgba(0, 0, 0, 0.9);
      border-radius: 4px;
      position: relative; }
      .user-info .zd-list .authorTip .authorTipCon:after {
        content: "";
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        position: absolute;
        top: -5px;
        left: 25%;
        margin-left: -5px;
        border-width: 0 5px 5px;
        border-bottom-color: #000; }
      .user-info .zd-list .authorTip .authorTipCon .authorTip-img {
        margin-right: 5px;
        float: left;
        width: 80px;
        height: 80px;
        border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        position: relative; }
        .user-info .zd-list .authorTip .authorTipCon .authorTip-img img {
          border-radius: 4px;
          -o-border-radius: 4px;
          -ms-border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0; }
      .user-info .zd-list .authorTip .authorTipCon h4 {
        font-size: 14px;
        margin-top: 0; }
      .user-info .zd-list .authorTip .authorTipCon p {
        font-size: 12px; }
  .user-info .zd-list h2 {
    margin: 50px 0 15px 15px; }
  .user-info .zd-list > .other > dl {
    width: 100%;
    padding-top: 0; }
    .user-info .zd-list > .other > dl dt {
      width: 68%;
      display: inline-block; }
    .user-info .zd-list > .other > dl dd {
      display: inline-block;
      width: 30%;
      margin-left: 0; }
  .user-info .zd-list > .my > dl {
    width: 100%;
    padding-top: 0; }
    .user-info .zd-list > .my > dl dt {
      width: 68%;
      display: inline-block; }
    .user-info .zd-list > .my > dl dd {
      display: inline-block;
      width: 30%;
      margin-left: 0; }
  @media (max-width: 1000px) {
    .user-info .zd-list .my {
      margin-top: 15px; } }
  .user-info .zd-list .title {
    font-size: 14px;
    color: #333;
    padding-bottom: 8px; }
    .user-info .zd-list .title b {
      font-weight: 600; }
  .user-info .zd-list dl {
    padding-top: 6px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: -1px; }
    .user-info .zd-list dl dt {
      color: #999999;
      font-size: 12px;
      font-weight: normal;
      text-align: left; }
      .user-info .zd-list dl dt span {
        color: #000000; }
      .user-info .zd-list dl dt .autor {
        color: #000000;
        cursor: pointer; }
        .user-info .zd-list dl dt .autor:hover {
          text-decoration: underline; }
    .user-info .zd-list dl dd {
      color: #e62344;
      text-align: right; }
      .user-info .zd-list dl dd i {
        margin-right: 3px; }
  .user-info .zd-list .art-info {
    padding-top: 6px;
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    text-align: left; }
    .user-info .zd-list .art-info span {
      color: #000000; }
  .user-info .zd-list .zd-list-li {
    position: relative;
    width: 220px;
    /*      width: calc(100% - 500px);
      width: -moz-calc(100% - 500px);   
      width: -webkit-calc(100% - 500px);  */
    float: left;
    padding: 0; }
    .user-info .zd-list .zd-list-li .imgTip {
      width: 100%;
      height: 220px;
      position: relative;
      margin: 15px 0;
      min-width: 220px; }
      .user-info .zd-list .zd-list-li .imgTip .thumbnail {
        border: #eeeeee solid 1px;
        border-radius: 0;
        -o-border-radius: 0;
        -ms-border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        margin-bottom: 12px;
        height: 220px;
        position: relative; }
        .user-info .zd-list .zd-list-li .imgTip .thumbnail img {
          padding: 10px;
          max-height: 100%;
          max-width: 100%;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
      .user-info .zd-list .zd-list-li .imgTip .gk dt, .user-info .zd-list .zd-list-li .imgTip .gk dd {
        color: #f8e71c;
        font-size: 14px; }
      .user-info .zd-list .zd-list-li .imgTip .tip {
        display: none;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px; }
        .user-info .zd-list .zd-list-li .imgTip .tip dl {
          width: 100%;
          padding-top: 0; }
          .user-info .zd-list .zd-list-li .imgTip .tip dl dt {
            width: 60%;
            display: inline-block; }
          .user-info .zd-list .zd-list-li .imgTip .tip dl dd {
            display: inline-block;
            width: 30%;
            margin-left: 0; }
        .user-info .zd-list .zd-list-li .imgTip .tip span {
          font-size: 12px;
          color: #fff; }
      .user-info .zd-list .zd-list-li .imgTip:hover .tip {
        display: block; }

.btn {
  border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

input[type=button], input[type=text], input[type=password], select {
  -webkit-appearance: none;
  outline: none; }

.zd-select {
  position: relative; }
  .zd-select i {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 24px;
    cursor: pointer; }

@media (max-width: 767px) {
  .zd-nav .navbar-left {
    margin: 9px 2px; }

  .navbar-form {
    border: none; }

  .zd-nav-right {
    float: left !important;
    padding: 0 !important;
    width: 100%; }
    .zd-nav-right .btn-group {
      display: none; }
    .zd-nav-right .inp-search {
      width: 80% !important; }
    .zd-nav-right .right-tx {
      display: none; }

  .zd-nav .pt50 {
    padding-bottom: 50px; }

  .zd-nav .navbar-brand img {
    margin-top: 0; } }
@media screen and (min-width: 768px) and (max-width: 860px) {
  .zd-nav .navbar-left .search-sel {
    display: none; }

  .zd-nav .navbar-left .inp-search {
    padding: 6px 6px;
    width: 70%; } }
@media (max-width: 768px) {
  .right-article .form-horizontal span.tip {
    display: inline-block; }

  .form-horizontal .control-label {
    padding-top: 0; }

  .right-article .form-horizontal .form-group button.file {
    margin: 0;
    padding: 0; } }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px; } }
@media (max-width: 768px) {
  .zd-nav .navbar-brand {
    width: auto; }

  .user-info .userInfo-top .state {
    text-align: left; } }
@media (min-width: 1920px) {
  .zd-list-li {
    margin: 15px -webkit-calc(((100% - 1320px) / 6) / 2);
    margin: 15px -moz-calc( ((100% - 1320px) / 6) / 2 );
    margin: 15px -ms-calc( ((100% - 1320px) / 6) / 2 );
    margin: 15px -o-calc(((100% - 1320px) / 6) / 2);
    margin: 15px calc(((100% - 1320px) / 6) / 2); } }
@media screen and (min-width: 1640) and (max-width: 1920px) {
  .zd-list-li {
    margin: 15px -webkit-calc(((100% - 1100px) / 5) / 2);
    margin: 15px -moz-calc( ((100% - 1100px) / 5) / 2 );
    margin: 15px -ms-calc( ((100% - 1100px) / 5) / 2 );
    margin: 15px -o-calc(((100% - 1100px) / 5) / 2);
    margin: 15px calc(((100% - 1100px) / 5) / 2); } }
@media screen and (min-width: 1200px) and (max-width: 1640px) {
  .zd-list-li {
    margin: 15px -webkit-calc(((100% - 880px) / 4) / 2);
    margin: 15px -moz-calc( ((100% - 880px) / 4) / 2 );
    margin: 15px -ms-calc( ((100% - 880px) / 4) / 2 );
    margin: 15px -o-calc(((100% - 880px) / 4) / 2);
    margin: 15px calc(((100% - 880px) / 4) / 2); } }
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .zd-list-li {
    margin: 15px -webkit-calc(((100% - 660px) / 3) / 2);
    margin: 15px -moz-calc(((100% - 660px) / 3) / 2);
    margin: 15px -ms-calc(((100% - 660px) / 3) / 2);
    margin: 15px -o-calc(((100% - 660px) / 3) / 2);
    margin: 15px calc(((100% - 660px) / 3) / 2); } }
@media screen and (min-width: 520px) and (max-width: 920px) {
  .zd-list-li {
    margin: 15px -webkit-calc(((100% - 440px) / 2) / 2);
    margin: 15px -moz-calc(((100% - 440px) / 2) / 2);
    margin: 15px -ms-calc(((100% - 440px) / 2) / 2);
    margin: 15px -o-calc(((100% - 440px) / 2) / 2);
    margin: 15px calc(((100% - 440px) / 2) / 2); } }
@media (max-width: 520px) {
  .zd-list-li {
    margin: 15px -webkit-calc( (100% - 220px) / 2);
    margin: 15px -moz-calc( (100% - 220px) / 2);
    margin: 15px -ms-calc( (100% - 220px) / 2);
    margin: 15px -o-calc( (100% - 220px) / 2);
    margin: 15px calc( (100% - 220px) / 2); } }
@media screen and (min-width: 768px) and (max-width: 890px) {
  .right-article .form-group .control-label, .right-article .form-group .upload-btn, .right-article .form-group .tip, .right-article .form-group .uploads {
    width: 100%;
    margin: 5px 0; } }

/*# sourceMappingURL=style.css.map */
